<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Notification to Manager</title>
</head>
<body>
    <h1>Send Notification to Manager</h1>
    <form method="post">
        {% csrf_token %}
        <label for="message">Enter message:</label>
        <textarea  name="message" id="message" required>
        </textarea>
        <br>
        <button type="submit">Send Notification</button>
    </form>
    <a href="{% url 'employee:employee_dashboard' %}">Back to Dashboard</a>
</body>
</html>
