<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Address</title>
</head>
<body>
    <h1>Address Details for {{ user.username }}</h1>
    <p><strong>Street:</strong> {{ address.street }}</p>
    <p><strong>City:</strong> {{ address.city }}</p>
    <p><strong>Postal Code:</strong> {{ address.postal_code }}</p>
   
    
    <a href="{% url 'employee:notification_manager' %}">Back to notification manage</a>
</body>
</html>